<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Covid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Covid.Properties.Settings.MycovidConnectionString"
            connectionString="Data Source=DESKTOP-SC1DR6N;Initial Catalog=Mycovid;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Covid.Properties.Settings>
            <setting name="img" serializeAs="String">
                <value>16, 16</value>
            </setting>
            <setting name="b" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </Covid.Properties.Settings>
    </userSettings>
</configuration>